/**
 * Make sure these look good in light mode and dark mode!
 * If you omit any values, defaults will be used.
 */
$white: #ccc;
$black: black;
$accent: rgb(185, 123, 67);

/**
 * You can add any other styles below
 */
.lead h1,
.about-chests h1 {
  color: $accent;
}

.about-chests .container > * {
  flex-direction: column-reverse;
}